body {
        background-color: #333;
        color: #ddd;
        font-family: monospace, monospace;
        padding: 0;
        margin: 0;
        display: inline-block;
}

.space {
        height: 70px;
}

#selected {
        font-weight: bold;
}

#header {
        padding-bottom: 8px;
        padding-top: 6px;
        border-bottom: 2px solid #ccc;
        background-color: #222;
        width: 100%;
}

#header-inner {
        width: 100vw;
}

#header-inner a {
        display: inline-block;
}

#header-inner h1 {
        padding-left: 30px;
}

#main {
        clear: both;
        margin: 0;
        padding: 0;
        height: 100%;
}

#menu {
        float: left;
        margin: 0 1px 0 0;
        padding: 1em 0;
        border-right: 1px solid #ccc;
        width: 210px;
        height: 100%;
}

#menu h2 {
        display: block;
        margin: 0;
        padding: 0.4ex 1em 0.8ex 0.4em;
        color: #ccc;
}

#menu ul {
        margin: 0;
        padding: 0;
}

#menu li {
        list-style: none;
        padding: 0;
        margin: 0;
}

a {
        color: #ddf;
        text-decoration: underline;
}

.no-decoration {
        color: #ccc;
        text-decoration: none;
}

#menu li a {
        display: block;
        margin: 0;
        padding: 0.8ex 2em 0.8ex 1em;
        color: #ccc;
        text-decoration: none;
}

#menu li a:hover {
        background-color: #555;
}

#content {
        margin: 0 0 0 200px;
        max-width: 940px;
        min-width: 600px;
        padding: 2.5em;
        padding-top: 1.5em;
}

#content img {
        margin-left: 10px;
        width: 700px;
        border: 4px solid #222;
}

#content iframe {
        margin-left: 10px;
        width: 700px;
        border: 4px solid #222;
}

.info {
        margin-left: 15px;
}

.lang {
        float: right;
        padding-right: 20px;
        text-decoration: none;
        font-size: 32px;
}

#gemigit img {
        width: 600px;
}
